body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
.main {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
h2 {
  text-align: center;
}
.details {
  display: grid;
  gap: 15px;
}
.details input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  outline: none;
}
button {
  padding: 12px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  border: none;
  background-color: #007bff;
  cursor: pointer;
}
p {
  text-align: center;
}
a {
  text-decoration: none;
  color: #007bff;
}
button:hover {
  background-color: #00ccff;
}
/* .details input:active{
    border: 2px solid #007bff;
} */
input:focus {
  border: 1px solid #007bff;
}
