* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(photo.jpg);
  background-size: cover;
}

.btn_one i {
  font-size: 30px;
  color: white;
  position: absolute;
  cursor: pointer;
  left: 16px;
  top: 16px;
  transition: 1s;
}

.btn_two i {
  font-size: 30px;
  color: white;
  position: absolute;
  left: 260px;
  top: 20px;
  cursor: pointer;
  transition: 1s;
}

.main {
  height: 100vh;
  width: 400px;
}
.sidebar {
  height: 100vh;
  width: 300px;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.5);
  /* position: absolute; */
  position: absolute;
  left: -350px;
  transition: 1.5s;
}

.head {
  text-align: center;
  color: white;
  width: 100%;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.5);
  height: 70px;
}
.head a {
  position: absolute;
  left: 50px;
  top: 15px;
  font-size: 25px;
}

.list {
  width: 100%;
  font-size: 20px;
  position: absolute;
  top: 100px;
}
.list li {
  list-style: none;
  padding: 20px;
  transform: rotateX(180deg);
  transition: 2s;
}

.list li,
a {
  text-decoration: none;
  color: white;
}
.list li i {
  padding-right: 10px;
}

.social_media {
  position: absolute;
  bottom: 30px;
  left: 65px;
}
.social_media i {
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
  padding: 5px;
  transition: 1s;
}

.list ul li:hover {
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
  animation: Sani 2s ease 0s 1 forwards;
}

.social_media i:hover {
  color: rgba(255, 255, 255, 0.8);
  transform: scale(1.3);
}

.btn_one i:hover {
  transform: scale(1.3);
}
.btn_two i:hover {
  transform: scale(1.3);
}
#check {
  display: none;
}

#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ .btn_one {
  display: none;
}

.container {
  margin: auto;
  height: 550px;
  width: 800px;
  position: absolute;
  left: 450px;
  top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

img {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 20px;
}
.card {
  border: 2px solid white;
  width: 300px;
  border-radius: 5%;
  background-color: rgba(0, 0, 0, 0.8);
  transform: rotateY(180deg);
  transition: 2s;
}

.card .title p {
  color: white;
  font-weight: bolder;
  text-align: justify;
  padding: 10px;
}
.card .description ul li {
  color: white;
  margin: 0px 10px 0px 30px;
  text-align: justify;
}

span {
  color: white;
  font-size: 20px;
  margin: 10px;
}

.card:hover {
  box-shadow: 6px 6px 6px rgba(255, 255, 255, 0.5);
  animation: CardAni 2s ease 0s 1 forwards;
  /* transform: scale(1.1); */
  transition: 2s;
}

@keyframes Sani {
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes CardAni{
    100%{
        transform: rotateY(0deg);
    }
}