* {
  padding: 0%;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
  padding: 0.5rem;
}

.sidebar {
  width: 420px;
  background-color: #000;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

.main-content {
  flex: 1;
  background-color: #121212;
  border-radius: 0.5rem;
  overflow: auto;
  padding: 0 1.5rem 0 1.5rem;
}

.music-player {
  height: 72px;
  width: 100%;
  position: fixed;
  background-color: black;
  bottom: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
.nav {
  /* height: 100px; */
  background-color: #000;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  /* flex-direction: column;*/
  /* padding: 0.5rem 0.75rem; */
}
.brand img {
  height: 2.2rem;
  /* padding-top: 0.4rem; */
  padding: 0.4rem 1rem 0rem 1rem;
}

.home-search {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.home-search a i:hover{
  background-color: #232323;
}

.search{

	width: 30rem;

	/* height: 20%; */

	background-color: #121212;

	border-radius: 3rem;

	display: flex;

	align-items: center;

	/* padding: 1.5rem; */

}

.search i {

	font-size: 1.5rem;

	color: #777;

}

.search input{
  width: 70%;
  border-radius: 3rem;
	border: none;
	outline: none;
	font-size: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.1rem;
  background-color: #121212;
  color: #fff;


}




/* input.nosubmit { */
  /* border: 1px solid #555; */
  /* width: 100%; */
  /* padding: 9px 4px 9px 40px; */
  /* background: transparent url("") no-repeat 13px center; */
/* } */

/* input[type="search"] {
  padding: 0.5rem;
  border-radius: 25rem;
  margin-right: 0.5rem;
  width: 25rem;
  font-size: 1.2rem;
  background-color: #121212;
} */

.home-search i {
  font-size: 1.5rem;
  padding: 0.8rem;
  background-color: #121212;
  border-radius: 50%;
}

/* .nav-options {
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.3rem 0.75rem;
}
.nav-options:hover {
  opacity: 1;
}

.nav-options i {
  font-size: 1.25rem;
}
.nav-options a {
  font-size: 1rem;
  margin-left: 1rem;
} */

/* .nav-link {
  display: flex;
  font-size: 2rem;
} */

.links{
  display: flex;
}
.nav-link1, .nav-link2{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
}
.nav-link1 a{
  list-style: none;
  margin-right: 1rem;
  font-size: 0.9rem;
  opacity: 0.5;
   cursor: pointer;
}

.nav-link1 a:hover{
  transform: scale(1.1);
  opacity: 1;
}
.nav-link2 i{
  margin-right:0.5rem ;
  font-size: 1rem;
}
.nav-link2 a{
  list-style: none;
  margin-right: 1rem;
    opacity: 0.5;
     cursor: pointer;
}

.nav-link2 a:hover{
  transform: scale(1.02);
  opacity: 1;
}
.nav-link2{
  font-size: 0.8rem;
}
.line-above{
  height: 2rem;
  margin:0.5rem 2rem 0rem 0.5rem;
  background-color: #fff;
  border: 1px solid white;
  opacity: 0.8;
  cursor: auto;

}
.login-btn button {
  height:80%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 0.2rem;
}
.login-btn{
 font: 3rem;
}

.login-btn:hover{
  transform: scale(1.02);
}



.library {
  background-color: #121212;
  border-radius: 0.5rem;
  height: 100%;
  /* margin-top: 0.75rem; */
  padding: 0.3rem 0.5rem;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0.5rem 0rem 2rem 0rem;
  cursor: auto;
}

.lang-btn {
  margin: 2rem 0rem 0rem 0.5rem;
}
.lang-btn button{ 
  background-color: transparent;
  color: #fff;
  border: 2px solid #2f2f2f;
}
.lang-btn button:hover{
  border: 0.04rem solid #fff;
  transform: scale(1.03);
}
.lang-btn i{
  padding-right: 0.5rem;
}
.lib-options img {
  height: 1.25rem;
  width: 1.25rem;
}
.side-footer{
  padding-left:0.5rem;
}
.cookies {
  font-size: 0.7rem;
  margin: 0rem 0rem 1rem 0.5rem;
}
.cookies a:hover{
  text-decoration: underline;
}
.icons {
  font-size: 1.1rem;
  display: flex;
  border-radius: 50%;
  padding: 0.5rem;
  margin-right: 0.7rem;
}

.icons i {
  opacity: 0.7;
  cursor: pointer;
}

.icons i:hover {
  opacity: 1;
}
.icons:hover{
   background-color: #232323;
}

.box {
  background-color: #232323;
  height: 8rem;
  border-radius: 0.5rem;
  margin: 0.75rem 0 1.75rem 0;
  padding: 0.25rem 1rem 0.25rem 1rem;
}

.box-p1 {
  font-size: 1rem;
  font-weight: 600;
}

.box-p2 {
  font-size: 0.85rem;
  opacity: 0.9;
}


.badge {
  background-color: #fff;
  border: none;
  border-radius: 100px;
  padding: 0.2rem 1rem;
  font-weight: 600;
  /* margin-top: 0.5rem; */
  height: 2rem;
  width: fit-content;
  cursor: pointer;
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #121212;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

.for-back-btn {
  /* margin-left: 1rem; */
  cursor: pointer;
}
.for-back-btn img {
  height: 1.2rem;
  opacity: 0.6;
  margin-left: 0.2rem;
  padding: 0.4rem;
  background-color: #001;
  border-radius: 50%;
}
.for-back-btn img:hover {
  background-color: #000;
  opacity: 1;
}

.nav-item {
  margin-right: 0.5rem;
}
.install-btn {
  background-color: #000;
  color: #fff;
}
.install-btn i {
  margin-right: 0.3rem;
}
.user {
  border-radius: 50%;
  background-color: #000;
  color: #fff;
}

.redirect{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 0.7rem;
  opacity: 0.5;
}
.redirect li{
  padding: 0.5rem;
  cursor: pointer;
  
}

@media (max-width: 1000px) {
  .hide {
    display: none;
  }
}
.album {
  background-color: #232323;
  width: 150px;
  border-radius: 0.5rem;
  padding: 1rem;
}
.albums-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1.5rem;
}

.album-img {
  width: 100%;
  border-radius: 0.5rem;
}

.album-title {
  font-weight: 600;
}

.album-info {
  opacity: 0.9;
  font-size: 0.85rem;
}

.footer {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 100%;
  height: 50%;
  border-top: 2px solid #fff;
  opacity: 0.4;
}

.music-player {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current-album {
  width: 25%;
}

.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.player {
  width: 50%;
}

.controls {
  width: 25%;
}

.player-control-icon {
  height: 1rem;
  margin-right: 1.75rem;
  opacity: 0.7;
}
.player-control-icon:hover {
  opacity: 1;
}

.playback {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  width: 60%;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track {
  background-color: #ddd;
  border-radius: 100px;
  height: 0.2rem;
}

.progress-bar::-webkit-slider-runnable-track:hover {
  background-color: #1bd760;
}

.progress-bar::-webkit-slider-thumb {
  appearance: none;
  height: 0.8rem;
  width: 0.8rem;
  background-color: #fff;
  border-radius: 50%;
  margin-top: -5px;
  opacity: 0;
}
.progress-bar::-webkit-slider-thumb:hover {
  opacity: 1;
}

.current-album {
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center; */
  margin-left: 1rem;
  align-items: center;
}

.current-album img {
  height: 3.75rem;
  margin: 0.7rem;
  opacity: 0.7;
  cursor: pointer;
}

.current-album img:hover {
  opacity: 1;
}

.playpause:hover {
  transform: scale(1.1);
}
.info {
  display: flex;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls img {
  height: 3rem;
  margin-right: 0.75rem;
  opacity: 0.7;
  cursor: pointer;
}
.controls img:hover {
  opacity: 1;
}

.volume-bar {
  width: 25%;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.volume-bar::-webkit-slider-runnable-track {
  background-color: #ddd;
  border-radius: 100px;
  height: 0.2rem;
}

.volume-bar::-webkit-slider-runnable-track:hover {
  background-color: #1bd760;
}

.volume-bar::-webkit-slider-thumb {
  appearance: none;
  height: 0.8rem;
  width: 0.8rem;
  background-color: #fff;
  border-radius: 50%;
  margin-top: -5px;
}
