* {
  padding: 0%;
  /* margin: 0%; */
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.main {
  display: flex;
  height: 100vh;
  padding: 0.5rem;
}

.sidebar {
  width: 420px;
  background-color: #000;
  border-radius: 1rem;
  margin-right: 0.5rem;
  /* height: 100vh; */
}

.main-content {
  flex: 1;
  background-color: #121212;
  border-radius: 0.5rem;
  overflow: auto;
  padding: 0 1.5rem 0 1.5rem;
}

.music-player {
  height: 72px;
  width: 100%;
  position: fixed;
  background-color: black;
  bottom: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
.nav {
  /* height: 100px; */
  background-color: #000;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  /* flex-direction: column;*/
  /* padding: 0.5rem 0.75rem; */
}
.brand img {
  height: 2.2rem;
  /* padding-top: 0.4rem; */
  padding: 0.4rem 1rem 0rem 1rem;
}

.home-search {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.home-search a i:hover{
  background-color: #232323;
}

.search{

	width: 30rem;

	/* height: 20%; */

	background-color: #121212;

	border-radius: 3rem;

	display: flex;

	align-items: center;

	/* padding: 1.5rem; */

}

.search i {

	font-size: 1.5rem;

	color: #777;

}

.search input{
  width: 70%;
  border-radius: 3rem;
	border: none;
	outline: none;
	font-size: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.1rem;
  background-color: #121212;
  color: #fff;


}




/* input.nosubmit { */
  /* border: 1px solid #555; */
  /* width: 100%; */
  /* padding: 9px 4px 9px 40px; */
  /* background: transparent url("") no-repeat 13px center; */
/* } */

/* input[type="search"] {
  padding: 0.5rem;
  border-radius: 25rem;
  margin-right: 0.5rem;
  width: 25rem;
  font-size: 1.2rem;
  background-color: #121212;
} */

.home-search i {
  font-size: 1.5rem;
  padding: 0.8rem;
  background-color: #121212;
  border-radius: 50%;
}

/* .nav-options {
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.3rem 0.75rem;
}
.nav-options:hover {
  opacity: 1;
}

.nav-options i {
  font-size: 1.25rem;
}
.nav-options a {
  font-size: 1rem;
  margin-left: 1rem;
} */

/* .nav-link {
  display: flex;
  font-size: 2rem;
} */

.links{
  display: flex;
}
.nav-link1, .nav-link2{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 600;
}
.nav-link1 a{
  list-style: none;
  margin-right: 0.5rem;
  font-size: 0.9rem;
  opacity: 0.5;
   cursor: pointer;
}

.nav-link1 a:hover{
  transform: scale(1.04);
  opacity: 1;
}
.nav-link2 i{
  margin-right:0.5rem ;
  font-size: 1rem;
}
.nav-link2 a{
  list-style: none;
  margin-right: 1rem;
    opacity: 0.5;
     cursor: pointer;
}

.nav-link2 a:hover{
  transform: scale(1.04);
  opacity: 1;
}
.nav-link2{
  font-size: 0.8rem;
}
.line-above{
  height: 2rem;
  margin:0.5rem 2rem 0rem 0.5rem;
  background-color: #fff;
  border: 1px solid white;
  opacity: 0.8;
  cursor: auto;

}
.login-btn button {
  height:80%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-top: 0.2rem;
}
.login-btn{
 font: 3rem;
}

.library {
  background-color: #121212;
  border-radius: 0.5rem;
  height: 100%;
  /* margin-top: 0.75rem; */
  padding: 0.3rem 0.5rem;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0.5rem 0rem 2rem 0rem;
  cursor: auto;
}

.lang-btn {
  margin: 2rem 0rem 0rem 0.5rem;
}
.lang-btn button{ 
  background-color: transparent;
  color: #fff;
  border: 2px solid #2f2f2f;
}
.lang-btn button:hover{
  border: 0.04rem solid #fff;
}
.lang-btn i{
  padding-right: 0.5rem;
}
.lib-options img {
  height: 1.25rem;
  width: 1.25rem;
}
.side-footer{
  padding-left:0.5rem;
}
.cookies {
  font-size: 0.7rem;
  margin: 0rem 0rem 1rem 0.5rem;
}
.cookies a:hover{
  text-decoration: underline;
}
.icons {
  font-size: 1.1rem;
  display: flex;
  border-radius: 50%;
  padding: 0.5rem;
  margin-right: 0.7rem;
  justify-content: center;
  align-items: center;
}

.icons i {
  opacity: 0.7;
  cursor: pointer;
}
.icons i:hover {
  opacity: 1;
}
.icons:hover{
   background-color: #232323;
}

.box {
  background-color: #232323;
  height: 8rem;
  border-radius: 0.5rem;
  margin: 0.75rem 0 1.75rem 0;
  padding: 0.25rem 1rem 0.25rem 1rem;
}

.box-p1 {
  font-size: 1rem;
  font-weight: 600;
}

.box-p2 {
  font-size: 0.85rem;
  opacity: 0.9;
}


.badge {
  background-color: #fff;
  border: none;
  border-radius: 100px;
  padding: 0.2rem 1rem;
  font-weight: 600;
  height: 2rem;
  width: fit-content;
  cursor: pointer;
}
.badge:hover{
  transform: scale(1.04);
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #121212;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
}

.for-back-btn {
  /* margin-left: 1rem; */
  cursor: pointer;
}
.for-back-btn img {
  height: 1.2rem;
  opacity: 0.6;
  margin-left: 0.2rem;
  padding: 0.4rem;
  background-color: #001;
  border-radius: 50%;
}
.for-back-btn img:hover {
  background-color: #000;
  opacity: 1;
}

.nav-item {
  margin-right: 0.5rem;
}
.install-btn {
  background-color: #000;
  color: #fff;
}
.install-btn i {
  margin-right: 0.3rem;
}
.user {
  border-radius: 50%;
  background-color: #000;
  color: #fff;
}

.redirect{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 0.7rem;
  opacity: 0.5;
}
.redirect li{
  padding: 0.5rem;
  cursor: pointer;
  
}

@media (max-width: 1000px) {
  .hide {
    display: none;
  }

}
.title{
  cursor: pointer;
  display: inline-block;
  padding-left: 0.5rem;
}
.title:hover{
  text-decoration: underline;
}
.album {
  width: 11rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  /* color: #1ed760; */
}
.album:hover{
  background-color: #232323;
}
.albums-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 0.5rem;
}

.album-img {
  width: 100%;
  border-radius: 0.5rem;
}
.album-img-artist{
  width: 100%;
  border-radius: 50%;
}

.album-title {
  font-weight: 600;
}

.album-info {
  opacity: 0.9;
  font-size: 0.75rem;
  /* text-align: justify; */
}

.footer {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 100%;
  height: 50%;
  border-top: 2px solid #fff;
  opacity: 0.4;
}


@media(max-width:1000px){
  .nav{
    width: 90%;
  }
}



.music-player {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0px;
}
i{
  cursor: pointer;
  opacity: 0.6;
}
i:hover{
  opacity: 1;
}
.song-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 25%;
}

.song-infos {
    display: flex;
    align-items: center;
}
.image-container {
    flex-shrink: 0;
    width: 4.5rem;
    height: 4.5rem;
    padding: 0.5rem;
    box-sizing: border-box;
}
.image-container img {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    cursor: pointer;
}
.image-container img:hover{
  opacity: 1;
}
.song-description p {
    margin: 0.2em;
}
.song-title{
  font-size: 0.8rem;
  cursor: pointer;
}
.song-title:hover{
  text-decoration: underline;
}
.artist-title{
  opacity: 0.7;
  font-size: 0.7rem;
  cursor: pointer;
}
.artist-title:hover{
  text-decoration: underline;
}

.music-icons{
    display: flex;
    gap: 1rem;
}
.progress-controller{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* gap: 1.5em; */
}
.control-buttons{
    display: flex;
    align-items: center;
    gap: 2em;
}
.play-pause{
    display: inline-block;
    padding: 1em;
    color: #111;
    border-radius: 50%;
}
.play-pause:hover{
    transform: scale(1.1);
    color: #111;
}
.progress-container{
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.progress-bar{
    height: 4px;
    border-radius: 10px;
    width: 30%;
    background-color: #ccc4;
}
.progress{
    position: relative;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: #fff;
}
.progress-bar:hover .progress{
    background-color: #2d5;
}
.progress-bar:hover .progress::after{
    content: "";
    position: absolute;
    --size: 1em;
    width: var(--size);
    height: var(--size);
    right: 0;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(50%, calc(2px - 50%));
}
.other-features{
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.other-features img{
  height: 2.3rem;
  cursor: pointer;
  opacity: 0.7;
}
.other-features .img:hover{
  opacity: 1;
}
.volume-bar{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.volume-bar .progress-bar{
    width: 6rem;
}
.volume-bar .progress-bar:hover .progress::after{
    --size: .8rem;
}