.container{
    height: 800px;
    width: 800px;
    margin: auto;
    border: 30px solid grey;
}
.row{
    display: flex;  
}
.white, .black{
    height: 100px;
    width: 100px;
    font-size: 70px;
    text-align: center;
    text-decoration: none;
}
.black{
    background-color: black;
    color: white;
}
h1{
    text-align: center;
}